.CodeMirror {
    border: 1px solid #999;
    margin-top: 5px;
}

pre > .log:first-child:before {
    content: "  ";
    white-space: pre;
}
pre > .input:first-child:before {
    content: "> ";
}
pre > .input {
    color: #2C57EA !important;
}
pre > .output:first-child:before {
    content: "< ";
    color: #aaa;
}
pre > .error {
    color: #f00 !important;
}

canvas {
    border: 1px solid #999;
    width: 300px;
    height: 300px;
}
